In [1]:
import teradata
import pandas as pd
import matplotlib.pyplot as plt
host,user,pwd ='10.132.4.11','ID', "PW"
udaExec =teradata.UdaExec (appName="HelloWorld", version="1.0",logConsole=False)
with udaExec.connect(method="ODBC", system=host,username=user,password=pwd) as session:
    query1 = '''SELECT * from DD_RO_ADHOC.MERCHANT_RECOM_FINAL5'''#  sample 1000000
    MERCHANT = pd.read_sql(query1,session) 
MERCHANT.shape

(1328565, 2)

In [6]:
MERCHANTS=MERCHANT [['PARTY_NUMR','MERCHANT_NAME']]
MERCHANTS.head()

   PARTY_NUMR                           MERCHANT_NAME
0    11748709  LOH GUAN LYE SPECIALISTS PENANG
1     1511908  AGODA INTERNATION
2      367199  GAMA S
3    12875900  COSWAY
4     1382291  HONG KONG SHENG KEE DESS SEPANG

In [7]:
MERCHANTS['MERCHANT_NAME'].value_counts().head(5)

PARKSON                                   22791
AGODA HOTEL RESERVATIO                    18593
GHL                                       15816
PADINI CONCEPT STORE                      15589
WECHAT PA                                 12097
Name: MERCHANT_NAME, dtype: int64

In [8]:
Mer=[ i.rstrip() for i in MERCHANTS['MERCHANT_NAME']]
#Mer=[]
#for i in MERCHANTS['MERCHANT_NAME']:
#    Mer.append(i.rstrip())
Mer
MERCHANTS['MERCHANT_NAME']=Mer
MERCHANTS
df = MERCHANTS.groupby('PARTY_NUMR').agg({'MERCHANT_NAME': ', '.join}).reset_index()
df[['MERCHANT_NAME']].head()

C:\Users\tvimal\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                       MERCHANT_NAME
0  COFFEE BEAN, PRUBSN GT, 0, VILLAGE GROCER, MPH...
1  JAYA GROCER SUBANG EMPIR SUBANG JAYA, JAYA GRO...
2             JAYA GROCER MUTIARA TRPC PETALING JAYA
3  JAKEL TRADING, PRUBSN GT, STARBUCKS, TAKAFUL M...
4                      MPH BOOKSTORES, ICHIBAN RAMEN

In [9]:
lst=list(df.MERCHANT_NAME)
lst
list_of_list=[s.split(',') for s in lst]
len(list_of_list)

434307

In [11]:
from apyori import apriori
association_rules = apriori(list_of_list, min_support=0.001, min_confidence=0.05, min_lift=5, min_length=2)  
association_results = list(association_rules)
association_results

[RelationRecord(items=frozenset({' AGODA HOTEL RESERVATIO', ' MALAY AI'}), support=0.001706166375398048, ordered_statistics=[OrderedStatistic(items_base=frozenset({' AGODA HOTEL RESERVATIO'}), items_add=frozenset({' MALAY AI'}), confidence=0.061708860759493674, lift=6.283842951904671), OrderedStatistic(items_base=frozenset({' MALAY AI'}), items_add=frozenset({' AGODA HOTEL RESERVATIO'}), confidence=0.17373974208675266, lift=6.283842951904671)]),
 RelationRecord(items=frozenset({' BIGPAY', ' BIGPA'}), support=0.0016693260757943114, ordered_statistics=[OrderedStatistic(items_base=frozenset({' BIGPA'}), items_add=frozenset({' BIGPAY'}), confidence=0.21765235664965477, lift=67.47176449638944), OrderedStatistic(items_base=frozenset({' BIGPAY'}), items_add=frozenset({' BIGPA'}), confidence=0.5174875089221984, lift=67.47176449638944)]),
 RelationRecord(items=frozenset({' BOOST APP', ' BIGPA'}), support=0.0011029064693868623, ordered_statistics=[OrderedStatistic(items_base=frozenset({' BIGPA'}), items_add=frozenset({' BOOST APP'}), confidence=0.14380066046232362, lift=15.140274774160094), OrderedStatistic(items_base=frozenset({' BOOST APP'}), items_add=frozenset({' BIGPA'}), confidence=0.11612121212121214, lift=15.140274774160096)]),
 RelationRecord(items=frozenset({' PADINI CONCEPT STORE', ' BRANDS OUTLET'}), support=0.0019755610662503713, ordered_statistics=[OrderedStatistic(items_base=frozenset({' BRANDS OUTLET'}), items_add=frozenset({' PADINI CONCEPT STORE'}), confidence=0.12554872695346797, lift=5.313456534494232), OrderedStatistic(items_base=frozenset({' PADINI CONCEPT STORE'}), items_add=frozenset({' BRANDS OUTLET'}), confidence=0.0836094328590918, lift=5.313456534494232)]),
 RelationRecord(items=frozenset({' PADINI CONCEPT STR', ' BRANDS OUTLET'}), support=0.002030821515655976, ordered_statistics=[OrderedStatistic(items_base=frozenset({' BRANDS OUTLET'}), items_add=frozenset({' PADINI CONCEPT STR'}), confidence=0.12906057945566288, lift=7.6136801251902435), OrderedStatistic(items_base=frozenset({' PADINI CONCEPT STR'}), items_add=frozenset({' BRANDS OUTLET'}), confidence=0.1198044009779951, lift=7.6136801251902435)]),
 RelationRecord(items=frozenset({' CARING PHARMACY', ' CARING'}), support=0.0010038981642018204, ordered_statistics=[OrderedStatistic(items_base=frozenset({' CARING'}), items_add=frozenset({' CARING PHARMACY'}), confidence=0.10246768507638072, lift=12.839709435218603), OrderedStatistic(items_base=frozenset({' CARING PHARMACY'}), items_add=frozenset({' CARING'}), confidence=0.12579342181188688, lift=12.839709435218603)]),
 RelationRecord(items=frozenset({' COTTON ON', ' SEPHORA'}), support=0.001109814025562563, ordered_statistics=[OrderedStatistic(items_base=frozenset({' COTTON ON'}), items_add=frozenset({' SEPHORA'}), confidence=0.06696304529035843, lift=7.740888823774207), OrderedStatistic(items_base=frozenset({' SEPHORA'}), items_add=frozenset({' COTTON ON'}), confidence=0.12829385147724248, lift=7.740888823774207)]),
 RelationRecord(items=frozenset({' ZARA', ' COTTON ON'}), support=0.0013193432295588144, ordered_statistics=[OrderedStatistic(items_base=frozenset({' COTTON ON'}), items_add=frozenset({' ZARA'}), confidence=0.07960544595721034, lift=6.055912141765309), OrderedStatistic(items_base=frozenset({' ZARA'}), items_add=frozenset({' COTTON ON'}), confidence=0.10036784025223332, lift=6.055912141765309)]),
 RelationRecord(items=frozenset({' GHL', ' DRAGON'}), support=0.001227242480549473, ordered_statistics=[OrderedStatistic(items_base=frozenset({' DRAGON'}), items_add=frozenset({' GHL'}), confidence=0.1435496902774037, lift=5.288373512198522)]),
 RelationRecord(items=frozenset({' GHL', ' NANDO'}), support=0.0016808386694204792, ordered_statistics=[OrderedStatistic(items_base=frozenset({' GHL'}), items_add=frozenset({' NANDO'}), confidence=0.061922130799898216, lift=5.6844673137415755), OrderedStatistic(items_base=frozenset({' NANDO'}), items_add=frozenset({' GHL'}), confidence=0.15430141619108012, lift=5.6844673137415755)]),
 RelationRecord(items=frozenset({' GHL', ' POPULAR'}), support=0.0011420492877158323, ordered_statistics=[OrderedStatistic(items_base=frozenset({' POPULAR'}), items_add=frozenset({' GHL'}), confidence=0.13944335113859993, lift=5.1370958947283)]),
 RelationRecord(items=frozenset({' GHL', ' STARBUCKS'}), support=0.002026216478205509, ordered_statistics=[OrderedStatistic(items_base=frozenset({' GHL'}), items_add=frozenset({' STARBUCKS'}), confidence=0.07464585630672661, lift=6.059666900001031), OrderedStatistic(items_base=frozenset({' STARBUCKS'}), items_add=frozenset({' GHL'}), confidence=0.16448598130841122, lift=6.059666900001031)]),
 RelationRecord(items=frozenset({' GHL', ' SUSHI ZANMAI'}), support=0.0012318475179999401, ordered_statistics=[OrderedStatistic(items_base=frozenset({' SUSHI ZANMAI'}), items_add=frozenset({' GHL'}), confidence=0.13661899897854957, lift=5.033046703653993)]),
 RelationRecord(items=frozenset({' IKEA DAMANSARA', ' VILLAGE GROCER'}), support=0.0013331583419102155, ordered_statistics=[OrderedStatistic(items_base=frozenset({' IKEA DAMANSARA'}), items_add=frozenset({' VILLAGE GROCER'}), confidence=0.09969008264462809, lift=7.133976062471658), OrderedStatistic(items_base=frozenset({' VILLAGE GROCER'}), items_add=frozenset({' IKEA DAMANSARA'}), confidence=0.0954028670291646, lift=7.133976062471658)]),
 RelationRecord(items=frozenset({' ISETAN', ' PARKSON'}), support=0.0017038638566728144, ordered_statistics=[OrderedStatistic(items_base=frozenset({' ISETAN'}), items_add=frozenset({' PARKSON'}), confidence=0.18887187340479838, lift=5.453651799934697)]),
 RelationRecord(items=frozenset({' VILLAGE GROCER', ' JAYA GROCER'}), support=0.0012157298869233054, ordered_statistics=[OrderedStatistic(items_base=frozenset({' JAYA GROCER'}), items_add=frozenset({' VILLAGE GROCER'}), confidence=0.13486590038314175, lift=9.651211830235813), OrderedStatistic(items_base=frozenset({' VILLAGE GROCER'}), items_add=frozenset({' JAYA GROCER'}), confidence=0.0869995056846268, lift=9.651211830235814)]),
 RelationRecord(items=frozenset({' NANDO', ' STARBUCKS'}), support=0.0015472925833569342, ordered_statistics=[OrderedStatistic(items_base=frozenset({' NANDO'}), items_add=frozenset({' STARBUCKS'}), confidence=0.14204185161699429, lift=11.530798214994755), OrderedStatistic(items_base=frozenset({' STARBUCKS'}), items_add=frozenset({' NANDO'}), confidence=0.12560747663551403, lift=11.530798214994755)]),
 RelationRecord(items=frozenset({' NANDO', ' SUSHI ZANMAI'}), support=0.0010085032016522875, ordered_statistics=[OrderedStatistic(items_base=frozenset({' NANDO'}), items_add=frozenset({' SUSHI ZANMAI'}), confidence=0.09258084971464807, lift=10.267750535500424), OrderedStatistic(items_base=frozenset({' SUSHI ZANMAI'}), items_add=frozenset({' NANDO'}), confidence=0.11184882533197142, lift=10.267750535500426)]),
 RelationRecord(items=frozenset({' STARBUCKS', ' SECRET RECIPE'}), support=0.0010706712072335927, ordered_statistics=[OrderedStatistic(items_base=frozenset({' SECRET RECIPE'}), items_add=frozenset({' STARBUCKS'}), confidence=0.07351778656126481, lift=5.96809146318939), OrderedStatistic(items_base=frozenset({' STARBUCKS'}), items_add=frozenset({' SECRET RECIPE'}), confidence=0.08691588785046728, lift=5.96809146318939)]),
 RelationRecord(items=frozenset({' SUSHI ZANMAI', ' STARBUCKS'}), support=0.0010361334263550898, ordered_statistics=[OrderedStatistic(items_base=frozenset({' STARBUCKS'}), items_add=frozenset({' SUSHI ZANMAI'}), confidence=0.08411214953271028, lift=9.328522810802555), OrderedStatistic(items_base=frozenset({' SUSHI ZANMAI'}), items_add=frozenset({' STARBUCKS'}), confidence=0.11491317671092952, lift=9.328522810802554)]),
 RelationRecord(items=frozenset({' TNG WALLET E', ' TNG'}), support=0.0012088223307476049, ordered_statistics=[OrderedStatistic(items_base=frozenset({' TNG'}), items_add=frozenset({' TNG WALLET E'}), confidence=0.15751575157515754, lift=22.742750505103704), OrderedStatistic(items_base=frozenset({' TNG WALLET E'}), items_add=frozenset({' TNG'}), confidence=0.17453457446808512, lift=22.742750505103704)]),
 RelationRecord(items=frozenset({' VILLAGE GROCER', ' ZARA'}), support=0.0010246208327289222, ordered_statistics=[OrderedStatistic(items_base=frozenset({' VILLAGE GROCER'}), items_add=frozenset({' ZARA'}), confidence=0.07332344702586918, lift=5.578014767466136), OrderedStatistic(items_base=frozenset({' ZARA'}), items_add=frozenset({' VILLAGE GROCER'}), confidence=0.07794710106848836, lift=5.578014767466136)])]

In [13]:
association_results
Result = pd.DataFrame(columns=('Items','Support','Confidence','Lift'))#'Antecedent','Consequent',

Support =[]
Confidence = []
Lift = []
Items = []
#Antecedent = []
#Consequent=[]

for RelationRecord in association_results:
    for ordered_stat in RelationRecord.ordered_statistics:
        Support.append(RelationRecord.support)
        Items.append(RelationRecord.items)
       # Antecedent.append(ordered_stat.items_base)
       #Consequent.append(ordered_stat.items_add)
        Confidence.append(ordered_stat.confidence)
        Lift.append(ordered_stat.lift)

Result['Items'] =Items# list(map(set, Items))                                   
#df['Antecedent'] = list(map(set, Antecedent))
#df['Consequent'] = list(map(set, Consequent))
Result['Support'] = Support
Result['Confidence'] = Confidence
Result['Lift']= Lift
Result
Result.sort_values(by ='Lift', ascending = False, inplace = True)
print(df.shape)
Result['Items']=[list(x) for x in list(Result['Items'])]

(434307, 2)

In [15]:
Result.head()

                              Items   Support  Confidence      Lift
27  [ VILLAGE GROCER,  JAYA GROCER]  0.001216    0.087000  9.651212
26  [ VILLAGE GROCER,  JAYA GROCER]  0.001216    0.134866  9.651212
34      [ SUSHI ZANMAI,  STARBUCKS]  0.001036    0.084112  9.328523
35      [ SUSHI ZANMAI,  STARBUCKS]  0.001036    0.114913  9.328523
13           [ COTTON ON,  SEPHORA]  0.001110    0.128294  7.740889

In [ ]:
df.to_excel('C:\\Users\\tvimal\\Desktop\\Recomended_new.xlsx')

In [11]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

TE = TransactionEncoder()
TE_ary = TE.fit(list_of_list).transform(list_of_list)
dfd = pd.DataFrame(TE_ary, columns=TE.columns_)
dfd.head()

,*MYR-ANYTIME-EZYPAYV2,*THE CHINA PRESS-1,0,11STREET,2C2P*ZARA COM,2C2P-CHILINDO,2C2P-JOMPARKING,2C2P-TRAVEL RECOMMEND,A HONG,AA PHARMACY,...,YTL COMMS,YUBISO,YUNG FA RETAIL,ZALORA MALAYSIA,ZARA,ZENXIN ORGANIC FOOD,ZENZU,Zalora SEA,doTERRA Malaysia,uCloudlink
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
from mlxtend.frequent_patterns import apriori
apriori(dfd, min_support=0.01, use_colnames=True)

     support                   itemsets
0   0.027649  ( AGODA HOTEL RESERVATIO)
1   0.015735           ( BRANDS OUTLET)
2   0.016574               ( COTTON ON)
3   0.011572                    ( FAVE)
4   0.027144                     ( GHL)
5   0.011197                    ( IKEA)
6   0.013373          ( IKEA DAMANSARA)
7   0.016198                  ( MOLPAY)
8   0.012307                   ( MYDIN)
9   0.010893                   ( NANDO)
10  0.023628    ( PADINI CONCEPT STORE)
11  0.016951      ( PADINI CONCEPT STR)
12  0.034632                 ( PARKSON)
13  0.014563           ( SECRET RECIPE)
14  0.012318               ( STARBUCKS)
15  0.010868               ( THE STORE)
16  0.016113                     ( TMB)
17  0.013974          ( VILLAGE GROCER)
18  0.013145                    ( ZARA)
19  0.015162   (AGODA HOTEL RESERVATIO)
20  0.018142                    (COWAY)
21  0.012579     (CUCKOO INTERNATIONAL)
22  0.010292                   (MOLPAY)
23  0.014405                    (MYDIN)
24  0.012266     (PADINI CONCEPT STORE)
25  0.017845                  (PARKSON)
26  0.011098                      (TMB)
27  0.018770                (WECHAT PA)